@tailwind base;
@tailwind components;
@tailwind utilities;

/* Force map container to have height */
html, body, #app {
    height: 100%;
    margin: 0;
    padding: 0;
}

.leaflet-container {
    background: #e5e7eb; /* Light gray placeholder */
}